# Virtual environments
.venv/
**/__pycache__/

# macOS system files
.DS_Store

# Local data folders
logs/
index/
chroma_db/
# data/*.csv  <-- Commented out to allow pushing the FAQ data
# If you want to keep data private, uncomment the line above

# Secrets
.env
.streamlit/secrets.toml

# Jupyter / temporary
*.ipynb_checkpoints
